# OS
.DS_Store
Thumbs.db

# Gradle
.gradle/
build/
.gradle-home/

# IntelliJ
.idea/
*.iml
out/

# Logs
logs/
*.log

# JVM crash logs
hs_err_pid*

# Temporary files
*.tmp
*.swp

# Local test server directories/files
run/
/server/
/test-server/
/paper-server/
/purpur-server/
/spigot-server/
/plugins/
/world/
/world_nether/
/world_the_end/
/cache/
/libraries/
/versions/
/eula.txt
/banned-ips.json
/banned-players.json
/ops.json
/usercache.json
/whitelist.json
/server.properties
/spigot.yml
/paper-global.yml
/paper-world-defaults.yml
/purpur.yml
/bukkit.yml
/commands.yml
/help.yml

#Symbol Graph
symbol_graph.json
