# OS
.DS_Store
Thumbs.db

# Gradle
.gradle/
build/

# IntelliJ
.idea/
*.iml
out/

# Logs
logs/
*.log

# JVM crash logs
hs_err_pid*

# Temporary files
*.tmp
*.swp

# Paper run directory (server files)
run/

#Symbol Graph
symbol_graph.json